<?xml version="1.0" encoding="UTF-8"?>
<config name="config.xml">
  <phases>
    <phase>
        <!-- 
                     若某个阶段调用Java代码，path的值应为该阶段要用到的类的完整类名
                     若某个阶段调用可执行文件，path的值应为可执行文件的路径
         -->
      <phase skip="false" type="java" path="bit.minisys.minicc.pp.MiniCCPreProcessor" name="pp" />
      <phase skip="false" type="java" path="me.entalent.minicc.scanner.Scanner" name="scanning" />
      <phase skip="false" type="java" path="me.entalent.minicc.parser.Parser" name="parsing" /> 
      <phase skip="true" type="java" path="bit.minisys.minicc.semantic.MiniCCSemantic" name="semantic" />
      <phase skip="false" type="java" path="me.entalent.minicc.icgen.InternalCodeGen" name="icgen" />
      <phase skip="true" type="java" path="bit.minisys.minicc.optimizer.MiniCCOptimizer" name="optimizing" />
      <phase skip="true" type="java" path="bit.minisys.minicc.codegen.MiniCCCodeGen" name="codegen" />
      <phase skip="true" type="java" path="" name="simulating" />
    </phase>
  </phases>
</config>

